In [10]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [16]:
metadata = pd.read_csv('dataset/TMDb_updated.CSV', low_memory=False)
metadata.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [8]:
metadata['overview'].head()

0    The near future, a time when both hope and har...
1    After he and his wife are murdered, marine Ray...
2    Marcus and Mike are forced to confront new thr...
3    Armed with the astonishing ability to shrink i...
4    In their quest to confront the ultimate evil, ...
Name: overview, dtype: object

In [9]:
tfidf = TfidfVectorizer(stop_words='english')
metadata['overview'] = metadata['overview'].fillna('')
tfidf_matrix = tfidf.fit_transform(metadata['overview'])

print(tfidf_matrix.shape)
print(tfidf.get_feature_names_out())

(10000, 28709)
['00' '000' '006' ... 'žižek' 'βwzvz' '運轉手之戀']

In [11]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
print(cosine_sim.shape)
print(cosine_sim[1])

(10000, 10000)
[0.00563717 1.         0.01311654 ... 0.00938582 0.         0.        ]

In [12]:
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()
indices[:10]

title
Ad Astra                                                                0
Bloodshot                                                               1
Bad Boys for Life                                                       2
Ant-Man                                                                 3
Percy Jackson: Sea of Monsters                                          4
Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)    5
Live Free or Die Hard                                                   6
Cold Blood                                                              7
Underwater                                                              8
The Platform                                                            9
dtype: int64

In [13]:
#Функция, которая принимает название фильма в качестве входных данных и выводит наиболее похожие фильмы.
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]

    return metadata['title'].iloc[movie_indices]

In [14]:
get_recommendations('The Godfather')

233      The Godfather: Part II
1226    The Godfather: Part III
7814                 Blood Ties
9884                   Election
7451                 Proud Mary
2502              Live by Night
7303            Family Business
9689                     Eulogy
8864             American Movie
9201                       Made
Name: title, dtype: object